:root {
  --first-color: #f2f4fb;
  --second-color: #d22780;
  --third-color: #f1e2cb;
  --fourth-color: #5e227f;
  --primary-text-color: #0f0f0f;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --icon-color: #000000;
  --primary-box-shadow: rgba(0, 0, 0, 0.6);
  --navbar-primary: #161616;
  --transition-speed: 300ms;
}

.first-color {
  background: #f2f4fb;
}

.second-color {
  background: #d22780;
}

.third-color {
  background: #f1e2cb;
}

.fourth-color {
  background: #5e227f;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  color: #bdbdbd;
}

.icon-color {
  color: #000000;
}
